@import "tailwindcss";

@theme {
  --color-blue-primary: rgba(4, 61, 130, 1);
  --color-secondary: rgba(0, 193, 211, 1);
  --color-orange-primary: rgba(248, 138, 40, 1);
  --color-blue-secondary: rgba(95, 164, 248, 1);
  --color-title-primary: rgba(43, 43, 43, 1);
  --color-text-body: rgba(99, 99, 99, 1);
  --color-text-subtext: rgba(109, 109, 109, 1);

  --color-subtitle-primary: rgba(128, 128, 128, 1);
  --color-subtitle-secondary: rgba(116, 128, 145, 1);
  --color-desc: rgba(89, 89, 89, 1);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* background: var(--background); */
  /* color: var(--foreground); */
  font-family: VazirMatn, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;

  @media (min-width: 768px) {
    padding-inline: 2rem;
  }

  @media (min-width: 1024px) {
    padding-inline: 4rem;
  }
}

/* swiper customization */

.swiper-pagination-bullets {
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content !important;
  margin: 0 auto !important;
  border-radius: 10px;
  padding: 4px;
  position: absolute;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  left: 50% !important; /* Move to the center along X-axis */
  transform: translate(-50%, -50%) !important;
  /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.7) !important; */
}
.swiper-button-next,
.swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 50% !important;
  border: 1px solid rgba(255, 255, 255, 0.9) !important;
  backdrop-filter: blur(24px) !important;
  -webkit-backdrop-filter: blur(24px) !important;
  /* box-shadow: 1px 1px 1px 1px rgba(255, 255, 255, 0.8) !important; */
}
.swiper-button-next .swiper-navigation-icon,
.swiper-button-prev .swiper-navigation-icon {
  width: 25px !important;
  height: 25px !important;
  color: var(--color-blue-primary) !important;
}
.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: black !important;
  width: 10px;
  height: 10px;
  transition: all !important;
  transition-duration: 4s;
}
.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: var(--color-blue-primary) !important;
  width: 30px !important;
  border-radius: 12px !important;
  height: 10px !important;
}

.custom-shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

/* header-slider */
.gradient-slider {
}
.introduction_description_subText ul {
  @apply list-disc list-inside marker:text-secondary marker:text-2xl text-[1.2rem] space-y-2 text-[#454547];
}
.packages_subpackages_list ul {
  @apply list-disc list-inside marker:text-secondary marker:text-2xl text-[1rem] space-y-1 text-[#454547];
}
.react-select-container .rs__control {
  @apply bg-transparent py-4 px-6 rounded-2xl border border-neutral-200 w-full focus:outline-secondary focus:outline-1;
}

table {
  border: 1px solid #ccc;
  margin: 8px 0;
}
table th,
tr,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

p {
  @apply leading-relaxed my-4;
}
